* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    height: calc(100% - 1px);
    margin: 0px;
    padding: 5px;
}

input#url {
    width: 40em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.params {
    flex: 0 0 auto;
}

.videoContainer {
    background: blue;
    flex: 1 0 0;
    width: 100%;
    min-height: 0;
}

video#subVideo, video#pubVideo {
    width: 100%;
    height: 100%;
}

#bufVideo, #mjpegCanvas {
    display: none;
}
