* {
    box-sizing: border-box;
}

input#url {
    width: 40em;
}

html, body {
    height: 100%;
    margin: 0px;
}

html {
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.params {
    flex: 0 0 auto;
}

#videoPlacement {
    background: blue;
    flex: 1 0 0;
    width: 100%;
}

#videoPlacement video {
    width: 100%;
    height: 100%;
}
